@using Microsoft.AspNetCore.Components.Routing

<nav class="sidebar">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
        </li>
        <li>
            <NavLink href="/projects">Projects</NavLink>
        </li>
        <li>
            <NavLink href="/wps">WPS</NavLink>
        </li>
        <li>
            <NavLink href="/pqr">PQR</NavLink>
        </li>
        <li>
            <NavLink href="/wpqr">WPQR</NavLink>
        </li>
        <li>
            <NavLink href="/import">Import / OCR</NavLink>
        </li>
    </ul>
</nav>
